**/venv
# ignore moi file trong folder **/abc/**
# ignore folder **/abcxh
**/.DS_Store
**/.vscode
**/mlruns
.idea
*.zip
*.rar
*.pdf
venv/**
*.sql
*.jpg 
*.xls
*.xlsx 
*.dat
*.yaml
*.xgb
*.dmg
*.cdf
*.tsv
*.pyc
**/log
*.md
*.dat
__pycache__